.general {
    width: 100vw; /* vw significa viewport width y hace que ocupe el 100% del ancho de la ventana */
    height: 100vh; /* ocupa el 100% de la altura de la ventana */
    margin: 0;
    text-align: center;
  }

.login{
  margin-top: 40px;
    flex-direction: column;
    display: flex;
    border-color: #00000000;
    align-items: center;
    color: rgb(151, 195, 206);
    text-shadow: 2px 2px #000000;
    text-align: left;
    font-weight: bold;
    margin-bottom: -5px;
}

.button_submit{
  width: 100%;
    border-radius: 15px;
    font-size: 1.5rem;
    font-family: 'Pangolin', cursive;
    background-color: rgb(228,255, 198);
    border-style: none;
    padding: 5px;
    margin-bottom: 5%;
    margin-left: 6%;
}

.button_submit:hover{
  background-color: aquamarine;
}