.catalogo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .catalogo-item {
    flex: 0 0 calc(25% - 20px);
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .catalogo-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
  }